<container class="footer">
	<center>
		<menu>
			<item href="https://twitter.com/SourceKnowledge"><img class="icon" src="/assets/img/twitter_white@4x.png" height="32" width="32"></item>
			<item href="https://plus.google.com/+Sourceknowledge/posts"><img class="icon" src="/assets/img/google_plus_white@4x.png" height="32" width="32"></item>
			<item href="https://www.facebook.com/sourceknowledge1"><img class="icon" src="/assets/img/facebook_white@4x.png" height="32" width="32"></item>
			<item href="https://www.linkedin.com/company/sourceknowledge"><img class="icon" src="/assets/img/linked_in_white@4x.png" height="32" width="32"></item>
		</menu>
	</center>
	<row>
		<columns small="0" large="1"></columns>
		<columns small="12" large="10">
			<p class="small">You're receiving this newsletter because you created a campaign with us.</p>
			<p class="small">1751 Richardson Suite 4509, Montréal, QC H3K 1G6 © 2015 Source Knowledge. All Rights Reserved.</p>
			<p class="small">
				Not interested anymore?
				<a class="unsubscribe" href="#" target="_blank">Unsubscribe</a>
				instantly
			</p>
		</columns>
		<columns small="0" large="1"></columns>
	</row>
	<spacer size="16"></spacer>
</container>
